@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.gaze__face {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.gaze[data-gaze="center"] .gaze__face[data-gaze-face="center"],
.gaze[data-gaze="smile"] .gaze__face[data-gaze-face="smile"],
.gaze[data-gaze="up"] .gaze__face[data-gaze-face="up"],
.gaze[data-gaze="up-right"] .gaze__face[data-gaze-face="up-right"],
.gaze[data-gaze="right"] .gaze__face[data-gaze-face="right"],
.gaze[data-gaze="down-right"] .gaze__face[data-gaze-face="down-right"],
.gaze[data-gaze="down"] .gaze__face[data-gaze-face="down"],
.gaze[data-gaze="down-left"] .gaze__face[data-gaze-face="down-left"],
.gaze[data-gaze="left"] .gaze__face[data-gaze-face="left"],
.gaze[data-gaze="up-left"] .gaze__face[data-gaze-face="up-left"] {
  opacity: 1;
}
